<link rel="stylesheet" href="./css/profile.css">
<main>
    <div>
        <a href="/">home</a>
    </div>
    <h1>profile page</h1>

    <p> name -  <%= user.name %>

        
    <p> email - <%= user.email %>

</main>